---

---

<section
  class="relative courses-section p-5 flex flex-col items-center"
>
  <h2 class="text-3xl font-semibold">Sobre Nosotros</h2>

  <div class="flex items-center p-6 w-full justify-evenly">

    <div class="shadow-md w-72 h-80 shrink-0 rounded-md bg-white">
      <img src="" alt="" />
    </div>

    <div class="max-w-2xl">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
        aliquam obcaecati tempora, rem temporibus minima qui deserunt fuga,
        sequi quam doloribus pariatur rerum eligendi iusto repellendus aperiam,
        nisi ab. Consequatur?
      </p>
    </div>
  </div>
</section>

<style>
  .courses-section::before {
    content: "";
    transform: scaleY(-1);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    background-image: url("/fondos/waveMain.svg");
    background-size:cover;
    z-index: -1;
  }
</style>
