<section class="flex items-end justify-center h-[45vh]">
    <div class="flex items-center flex-col mt-4">
  
      <h2 class="font-semibold text-xl md:text-3xl">Bienvenido a nuestro sitio educativo</h2>
  
      <p class="md:text-lg text-sm font-semibold">Explora nuestros cursos y recursos para aprender y crecer.</p>
      
      <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-4">Ver Cursos</a>
    </div>
  </section>
  