---

---

<section class="flex flex-col items-center p-10 gap-6">
  <div class="w-full flex flex-col items-center gap-4">
    <h2 class="text-center text-3xl font-semibold">¿Que es Funval?</h2>
    <div class="w-4/5 max-w-4xl shadow-xl rounded-md h-96 bg-slate-100">
      <video src=""></video>
    </div>
  </div>

  <div class="w-full flex flex-col items-center gap-4">
    <h2 class="text-center text-3xl font-semibold">Servicio a la comunidad</h2>
    <div class="w-4/5 max-w-4xl shadow-xl rounded-md h-96 bg-slate-100">
      <video src=""></video>
    </div>
  </div>
</section>
